body {
  font-family: Verdana, Helvetica, "sans-serif";
  font-size: 0.8em;

  padding: 1em;
  margin-left: 1em;
  color: rgb(35, 35, 35);
}

a {
  text-decoration: none;
  color: rgb(20, 210, 240);
}

a:hover {
  color: rgb(35, 35, 35);
  border-bottom: 1px dotted rgb(20, 210, 240);
}

h1 {
  font-size: 1.6em;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: .8em;
}

.content {
  margin: 1vh 0 1vh 0;
}

.header {
  font-size: 1.6em;
  margin-bottom: .8em;
}

.maincontainer {
  width: 90%;
  margin: 0;
  padding: 0;
  min-height: 80vh;
}

.footer {
  position: relative;
  margin-top: 1em;
  bottom: 1em;
  padding-top: 1.2em;
}
