:root {
  /* VARIABLES, adaptable  */
  --p-size: 2;  /* viewpoint size using vmin (smallest side) */
  --move-time: 3;  /* duration of move animation in seconds */
  --col-time-offset: 1.5;  /* duration of colour animation in seconds */
  /* FireFox cannot calc seconds */
  --moz-move-time: 3s;
  --moz-col-time: 4.5s;
  --particle: 1;

  /* CALCULATIONS */
  --calc-p-size: calc(var(--p-size) * 1vmin);
  --calc-move-time: calc(1s * var(--move-time));
  /* Safari cannot do calc in calc
     -> needs offset rather than calculated col time */
  --calc-col-time: calc(1s * var(--move-time) * var(--col-time-offset));
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.maincontainer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.addparticles_btn_holder {
  position: absolute;
  top: .5em;
  right: .5em;
  height: 20vh;

  display: flex;
  justify-content: space-around;
  flex-direction: column;

  color: rgba(70, 60, 140, .02);
  font-size: 5vh;
  border: .8vmin solid rgba(70, 60, 140, .02);
  border-radius: .6em .2em .6em .2em;
  padding: 2vmin;

  transition-property: border, color;
  transition-duration: 1.3s, 1s;
}

.addparticles_btn_holder:hover {
  color: rgba(70, 60, 140, .4);
  border-color: rgba(70, 60, 140, .4);

  transition-property: border, color;
  transition-duration: .8s, 1s;
}

.addparticles_btn {
  text-align: center;
  padding: 1vmin;
  border: .48vmin solid rgba(70, 60, 140, .02);

  border-radius: .4em;

  transition: border;
  transition-duration: 1s;
}

.addparticles_btn:hover {
  border-color: rgba(70, 60, 140, .4);

  transition: border;
  transition-duration: .5s;
}

.particle {
  position: absolute;

  background-color: red;
  height: var(--calc-p-size);
  width: var(--calc-p-size);

  /* for text within particle */
  font-size: var(--calc-p-size);
  line-height: var(--calc-p-size);
  text-align: center;
  font-weight: bold;
  color: white;

  animation-name: rainbow, moveParticle, spin;
  animation-duration: var(--calc-col-time), var(--calc-move-time);
  -moz-animation-duration: var(--moz-col-time), var(--moz-move-time);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes moveParticle {
  to {
    left: calc(100% + 30px);
    left: -moz-calc(100% + 10px);
    left: -webkit-calc(100% + 30px);
  }
}

@keyframes rainbow {
  from, to {
    background-color: red;
  }
  16.6% {
    background-color: orange;
  }
  33.2% {
    background-color: yellow;
  }
  49.8% {
    background-color: green;
  }
  66.4% {
    background-color: blue;
  }
  83% {
    background-color: purple;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(360deg);
  }
}