*:focus {
  outline: dotted 1px rgba(70, 60, 140, .4);
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.maincontainer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.addparticles_btn_holder {
  position: absolute;
  top: .5em;
  right: .5em;

  display: flex;
  justify-content: space-around;
  flex-direction: column;

  border: .40vmin solid rgba(70, 60, 140, .04);
  border-radius: .6em .2em .6em .2em;
  padding: .4em;

  transition-property: border, color;
  transition-duration: 1.3s, 1s;
}

.addparticles_btn {
  font-size: 1em;
  color: rgba(70, 60, 140, .04);
  background: rgba(255, 255, 255, 1);
  border: .25vmin solid rgba(70, 60, 140, .04);
  border-radius: .2em;

  text-align: center;
  margin: .4vmin;

  transition: border;
  transition-duration: 1s;
}

.addparticles_btn_holder:hover {
  color: rgba(70, 60, 140, .4);
  border-color: rgba(70, 60, 140, .4);

  transition-property: border, color;
  transition-duration: .8s, 1s;
}

.addparticles_btn:hover {
  color: rgba(70, 60, 140, .4);
  border-color: rgba(70, 60, 140, .4);

  transition: border;
  transition-duration: .5s;
}

.particle {
  position: absolute;
  height: 2vmin;
  width: 2vmin;

  text-align: center;
  font-weight: bold;
  color: white;
  background-color: purple;

  animation-name: rainbow, moveParticle, spin;
  animation-duration: 15s, 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes moveParticle {
  to {
    left: calc(100% + 10px);
  }
}

@keyframes rainbow {
  from, to {
    background-color: purple;
  }
  16.6% {
    background-color: red;
  }
  33.2% {
    background-color: orange;
  }
  49.8% {
    background-color: yellow;
  }
  66.4% {
    background-color: green;
  }
  83% {
    background-color: blue;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(360deg);
  }
}